# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# Paystack
# Get your keys at https://dashboard.paystack.com/#/settings/developers
PAYSTACK_SECRET_KEY=""
PAYSTACK_PUBLIC_KEY=""

# Railway Buckets (S3-compatible)
RAILWAY_BUCKET_ENDPOINT=""
RAILWAY_BUCKET_NAME=""
RAILWAY_BUCKET_ACCESS_KEY=""
RAILWAY_BUCKET_SECRET_KEY=""
